header {
    display: flex;
    flex-wrap: wrap;
}
.header__region,
.footer__region {
    /** Set the width of the header and footer regions to 100%*/
    flex: 1;
}

.header__logo {
    flex: 1;
    padding: 15px;
}
.navbar {
    flex: 2 300px;
}
.heading__title {
    flex: 1;
    padding: 15px;
}
.heading {
    // flex: 4;
    /** Align the heading to the right*/
    text-align-last: right;
}

.sub__heading {
    text-align-last: right;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.heading__2 {
    text-align: center;
}

figcaption {
    text-align: center;
}

@media screen and (min-width: 801px) {
    .gallery__item img {
        flex: 1;
        width: 36vw;
    }
    .fig__source,
    figcaption {
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 280px) and (max-width: 800px) {
    .gallery__item img {
        width: 100%;
    }
}

@media screen and (min-width: 280px) and (max-width: 720px){

    .fig__source,
    figcaption {
        font-size: 0.7rem;
    }
    .article__block  {
        width: 100%;
    }
    .heading, .sub__heading {
        font-size: 0.7rem;
        margin-left: -14px;
        padding: 2px;
    }
}

@media screen and (min-width: 280px) and (max-width: 605px) {
    .navigation__bar ul li a {
        font-size: 0.8rem;
        margin-left: -35px;
        padding: 10px;
    }

}

/** Center header__region and footer__region*/
.header__region {
    display: flex;
    flex-flow: row wrap;
}
.footer__region .footer__social__icons li a {
    flex: 1 200px;
}

.footer__region {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.footer__item a {
    color: #fff;
    padding: 5px;
}

.caroussel__nav ul li {
    align-items: center;
}